<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>OSGeo:UK</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/github-light.css">
  <link rel="stylesheet" href="/stylesheets/osgeouk_newlogo.css">
  <link rel="stylesheet" href="/foss4guk2018/stylesheets/foss4guk2018.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <div id="foss4guk2018-logo">
    <img src="/foss4guk2019/images/FOSS4G-LOGO@2x.png"></img>
  </div>

</head>
