<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <meta property="og:image"
	content="https://uk.osgeo.org/foss4guklocal2023/images/logo_preview.png"
	/>
  <meta property="og:title" content="FOSS4G UK Local 2023" />
  <meta property="og:description" content="The UK's Open Source Geospatial distributed meeting, on September 7th 2023" />


  <title>OSGeo:UK</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/github-light.css">
  <link rel="stylesheet" href="/stylesheets/osgeouk_newlogo.css">
  <script src="/javascripts/tea-block.js"></script>
  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
