<div class="sponsors">
<a href="/foss4guk2019" style="font-weight:bold;">Home</a><br>
&nbsp;&#9656; <a href="speakers.html" style="font-weight:bold;">Keynote Speakers</a><br>
&nbsp;&#9656; <a href="live_streaming.html" style="font-weight:bold;">Live Streaming</a><br>
&nbsp;&#9656; <a href="sponsors.html" style="font-weight:bold;">Sponsorship</a><br>
&nbsp;&#9656; <a href="talks_workshops.html" style="font-weight:bold;">Talks & Workshops</a><br>
&nbsp;&#9656; <a href="tickets.html" style="font-weight:bold;">Tickets</a><br>
&nbsp;&#9656; <a href="participation.html" style="font-weight:bold;">Widening Participation</a><br><br>
<h4 class="gold">Gold+ Sponsors:</h4>
<a href="https://www.skyscanner.net/" target="_blank"><img src="/foss4guk2019/images/Skyscanner-Logo-EPS-vector-image.png" class="sponsor_gold" alt="Gold+ Sponsor: Skyscanner" title="Gold+ Sponsor: Skyscanner"></a><br>
<a href="https://www.ordnancesurvey.co.uk/" target="_blank"><img src="/foss4guk2019/images/OS-Standard-Logo-Landscape-RGB.jpg" class="sponsor_gold" alt="Gold+ Sponsor: Ordnance Survey" title="Gold+ Sponsor: Ordnance Survey"></a><br>
<a href="https://thinkwhere.com/" target="_blank"><img src="/foss4guk2019/images/thinkwhere_logo.png" class="sponsor_gold" alt="Gold+ Sponsor: Thinkwhere" title="Gold+ Sponsor: Thinkwhere"></a><br>
<a href="https://astuntechnology.com/" target="_blank"><img src="/foss4guk2019/images/astun.png" class="sponsor_gold" alt="Gold+ Sponsor: Astun Technology" title="Gold+ Sponsor: Astun Technology"></a><br><br>

<h4 class="gold">Gold Sponsors:</h4>
<a href="https://www.esriuk.com/en-gb/home" target="_blank"><img src="/foss4guk2019/images/esri-main-logo.png" class="sponsor_gold" alt="Gold Sponsor: ESRI UK" title="Gold Sponsor: ESRI UK"></a><br>
<a href="https://www.2ndquadrant.com/en/" target="_blank"><img src="/foss4guk2019/images/2ndquadrant.jpg" class="sponsor_gold" alt="Gold Sponsor: 2nd Quadrant PostgreSQL" title="Gold Sponsor: 2nd Quadrant PostgreSQL"></a><br><br>
<h4 class="silver">Silver Sponsors:</h4>
<a href="https://www.ros.gov.uk/" target="_blank"><img src="/foss4guk2019/images/granite website.png" class="sponsor_silver" alt="Silver Sponsor: Registers of Scotland" title="Silver Sponsor: Registers of Scotland"></a><br>
<a href="https://www.tilhill.com/" target="_blank"><img src="/foss4guk2019/images/Tilhill_Logo_Final2.jpg" class="sponsor_silver" alt="Silver Sponsor: Tillhill Forestry" title="Silver Sponsor: Tillhill Forestry"></a><br>
<a href="https://www.addresscloud.com/" target="_blank"><img src="/foss4guk2019/images/ADDRESSCLOUD_MASTER_LOGO_CMYK.png" class="sponsor_silver" alt="Silver Sponsor: AddressCloud" title="Silver Sponsor: AddressCloud"></a><br>
<a href="https://www.bgs.ac.uk/" target="_blank"><img src="/foss4guk2019/images/bgs_logo_2018.png" class="sponsor_silver" alt="Silver Sponsor: British Geological Survey" title="Silver Sponsor: British Geological Survey"></a><br>
<a href="https://www.cawdorforestry.com/" target="_blank"><img src="/foss4guk2019/images/cawdor.jpg" class="sponsor_silver" alt="Silver Sponsor: Cawdor Forestry" title="Silver Sponsor: Cawdor Forestry"></a><br>
<a href="https://www.thedatalab.com/" target="_blank"><img src="/foss4guk2019/images/datalab.jpg" class="sponsor_silver" alt="Silver Sponsor: The Data Lab" title="Silver Sponsor: The Data Lab"></a><br>
<a href="https://geolytix.co.uk/" target="_blank"><img src="/foss4guk2019/images/GLX_LOGO.png" class="sponsor_silver" alt="Silver Sponsor: Geolytix" title="Silver Sponsor: Geolytix"></a><br>
<a href="http://gis.scisys.co.uk/" target="_blank"><img src="/foss4guk2019/images/SCISYS-Colour-Vertical-Medium_jpg.jpg" class="sponsor_silver" alt="Silver Sponsor: SCISYS" title="Silver Sponsor: SCISYS"></a><br>
<a href="http://google.co.uk/" target="_blank"><img src="/foss4guk2019/images/Google_2015_logo.png" class="sponsor_silver" alt="Silver Sponsor: Google" title="Silver Sponsor: Google"></a><br>
<a href="https://www.geomni.com/" target="_blank"><img src="/foss4guk2019/images/geomni.png" class="sponsor_silver" alt="Silver Sponsor: Geomni" title="Silver Sponsor: Geomni"></a><br>

<h4 class="bronze">Bronze Sponsors:</h4>
<a href="https://nautoguide.com/" target="_blank"><img src="/foss4guk2019/images/Nautoguide-Logo.jpg" class="sponsor_bronze" alt="Bronze Sponsor: Nautoguide" title="Bronze Sponsor: Nautoguide"></a><br>
<a href="https://www.jumpingrivers.com/" target="_blank"><img src="/foss4guk2019/images/JumpingRivers.png" class="sponsor_bronze" alt="Bronze Sponsor: Jumping Rivers" title="Bronze Sponsor: Jumping Rivers"></a><br>
</div>
