

#foss4guk2018-logo {
    margin: auto;
    width: 25vw;
    min-width: 200px;
    padding-bottom: 50px;
}

.sponsor_gold{width:200px; margin-bottom:14px;}
.sponsor_silver{width:150px; margin-bottom:14px;}
.sponsor_bronze{width:110px; margin-bottom:14px;}

.gold{color:#f1b106;}
.silver{color:#868888;}
.bronze{color:#b54d00;}

h2{margin-top:50px;}

.sponsors{float:left;}
