<!doctype html>
<html>
    {% include head_foss4guk2019.html %}
  <body class="foss4guk2019">
    <div class="wrapper">
      <section style="float:left;">
          {{ content }}
      </section>
      <header style="float:right;">
      		  {% include sponsors_foss4guk2019.html %}
	          <br><a href="/" style="position:relative; right:5px;" alt="OSGeo UK Chapter" title="OSGeo UK Chapter"><img src="images/osgeouk_logo.jpg"></a>
      </header>
    </div>

<div class="wrapper foot">
      {% include footer_foss4guk2019.html %}
</div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
