<!doctype html>
<html>
    {% include head.html %}
  <body>
    <div class="wrapper">
      <header class="sticky" id="stickymenu">
		<p><a href="index.html"><img src="images/logo.png" width="300"></a></p>
        <a href="index.html#venues">Venues</a><br>
        <a href="index.html#call-for-talks">Talks</a><br>
        <a href="index.html#schedule">Schedule</a><br>
        <a href="index.html#keynote-presentations">Keynotes</a><br>
        <a href="sponsorship.html">Sponsorship</a><br>
        <a href="index.html#registration">Registration</a><br>
      </header>
      <section class="content">
          {{ content }}
      </section>
    </div>
<div class="wrapper foot">
	<a id = "logo" href="/" title="OSGeo:UK"></a>
	<p>OSGeo UK Local Chapter</p>
      {% include footer_foss4guk2016.html %}
</div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
