<!doctype html>
<html class="foss4guk2023">
    {% include head_foss4guk2023.html %}
  <body>
    <div class="wrapper">

		<!-- This goes in the left column, everything in here is 'sticky' -->
		<header class="sticky" id="stickymenu">

			<!-- FOSS4G UK Logo -->
			<p class="logo"><a href="index.html"><object type="image/svg+xml" data="images/foss4guk2023-logo.svg"></object></a></p>
	 
			<!-- <p><a href="index.html"><object type="image/svg+xml" data="images/foss4guk2023-logo.svg">
     </object></a></p> -->
			<p><a href="index.html"><img src="images/logo.png" width="300" alt="FOSS4G UK Logo"></a></p>

			<!-- Menu -->
			<a href="index.html#call-for-talks">Call for Talks</a>&nbsp;<br class="desktop-only">
			<!--<a href="index.html#keynotes">Keynotes</a>&nbsp;<br class="desktop-only">
			<a href="index.html#venues">Venues</a>&nbsp;<br class="desktop-only">
			<a href="sponsorship.html">Sponsorship</a>&nbsp;<br class="desktop-only"> -->
			
			<br>
			<p><i>Many thanks to our national sponsors supporting FOSS4G:UK Local 2023:</i></p>
			
			
			<p><i><a href="sponsorship.html">Please check out all of our sponsors who are supporting FOSS4G:UK Local 2023</a></i></p>
		
		</header>

		<!-- This goes in the right column -->
		<section class="content">
			{{ content }}
		</section>
    </div>

	<!-- This goes in the left column at the bottom - it is NOT sticky -->
	<div class="wrapper foot">
		<a id = "logo" href="/" title="OSGeo:UK"></a>
		<p>OSGeo UK Local Chapter</p>
		{% include footer_foss4guk2016.html %}
	</div>

    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
