<!doctype html>
<html class="foss4guk2023 program">
    {% include head_foss4guk2023.html %}
  <body>
    <div class="wrapper">
      <nav>
	<a href="./">FOSS4G UK 2023</a> |
	<a href="./{{page.venuepage}}">{{page.venuename}} Venue Information</a>
      </nav>
	
		<!-- This goes in the right column -->
		<section class="content">
			{{ content }}
		</section>
    </div>

	<!-- This goes in the left column at the bottom - it is NOT sticky -->
	<div class="wrapper foot">
		<a id = "logo" href="/" title="OSGeo:UK"></a>
		<p>OSGeo UK Local Chapter</p>
		{% include footer_foss4guk2016.html %}
	</div>

    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
